body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #0f172a;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

button {
  margin-top: 12px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}

.welcome {
  margin-top: 15px;
  font-size: 18px;
  color: #22c55e;
}
